* {
  box-sizing: border-box;
}

:root {
  --pepper: #292929;
  --salt: #FAFAFA;
  --pomegranate: #990F54;
  --rose: #F5BAD8;
  --grape: #552EA3;
  --lavender: #CEBAF5;
  --broccoli: #0A523A;
  --mint: #ABE0CE;
  --mustard: #F5B431;
  --egg: #F6E8CA;
  --eggwash: #FFFCF5;
  --carrot: #E85E2C;
  --peach: #FFC3AD;
  --tomato: #C92C2C;
  --raspberry: #F5A3A3;
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--eggwash);
}

/* Font applications */

h1 {
  font-family: "Kalnia", serif;
  font-size: 4rem;
  font-style: italic;
  font-weight: 700;
  word-spacing: -10px;
  line-height: 120%;
  margin: 0;
}

.numbers {
  font-family: 'Fira Code', monospace;
}

.links {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

/* Components */
.nav {
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  gap: 2rem;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 6rem;
  background-color: var(--eggwash);
  width: 100%;
}

.logo {
  width: "113px";
}

.nav-link {
  color: var(--pomegranate)
}

.recipe-index-card {
  border: 1px solid black;
}

body {
  margin: 0;
  color: var(--pepper);
  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Recipe page */

.body {
  padding: 0 1rem;
  position: relative;
}

.recipe-page-hero {
  position: sticky;
  top: 6rem;
  display: grid;
  grid-template-columns: 50% 1fr;
  gap: 1rem;
  max-width: 100%;
  background-color: var(--eggwash);
  background-color: transparent;
}

.recipe-intro {
  grid-column-start: 1;
  grid-column: 1 / 2;
  margin-left: 1rem;
  max-width: 800px;
}

.recipe-hero-image {
  z-index: 2;
  width: 100%;
}

.pairing-list {
  padding-left: 0;
  list-style-type: none;
  max-width: 500px;
}

.pairing-list ul {
  padding-left: 0;
}

.pairing-list li {
  display: grid;
  grid-template-columns: 1rem 1fr;
  justify-content: flex-start;
  gap: .5rem;
  padding-bottom: 1rem;
}

/* .cards-container {
  display: flex;
  flex-direction: column;
} */

.recipe-step-card {
  position: sticky;
  /* top: calc(var(--h1-height) + 6rem); */
  z-index: 2;
  background-color: var(--eggwash);
  border: 2px solid var(--pepper);
  margin-bottom: 1rem;
  width: calc(50% - 1rem);
  font-size: 1rem;
  margin-left: 1rem;
}

.recipe-step-heading {
  font-weight: 700;
  background-color: var(--raspberry);
  padding: 1rem;
}

.recipe-step-heading p {
  margin: 0;
}

.recipe-step {
  padding: .5rem;
}

.recipe-sub-step {
  display: grid;
  grid-template-columns: 50% 1fr; 
  gap: 4rem;
  padding: 1.5rem;
}

.no-ingredients {
  display: block
}

.recipe-sub-step ul {
  padding-left: 0;
  margin: 0 0 2rem;
}

.recipe-sub-step li {
  display: grid;
  grid-template-columns: 1fr 30%; 
  gap: 1rem;
  align-items: center;
}

.recipe-sub-step li p {
  margin: .4rem 0;
}

.recipe-sub-step p:last-child {
  justify-self: flex-end;
}

.recipe-sub-step p {
  margin: 0 0 1rem 0;
}

.recipe-sub-step p:last-child {
  margin: 0;
}

.down-page-content {
  position: relative;
  top: 5rem;
  z-index: 2;
}

@media screen and (max-width: 600px) {
  
  h1 {
    font-size: 2rem;
  }

  h3 {

  }

  .nav {
    padding: 1.5rem 0;
    z-index: 3;
  }

  .logo {
    max-width:100px;
  }

  .recipe-page-hero {
    position: sticky;
    z-index: 2;
    top: calc(25% + 4.875rem);
    padding: 1rem;
    margin: 0 1rem 5rem;;
    max-width: 100%;

  }

  .recipe-hero-image {
    position: sticky;
    top: 4.875rem;
    max-width: 100%;
    padding: 0;
    z-index: 1;
  }
  
  .pairing-list {
    display: none;
  }

  .recipe-step-card {
    top: 4.9rem;
  }

  .recipe-sub-step {
    grid-template-columns: 50% 1fr; 
    gap: 1rem;
  
  }

  .recipe-sub-step li {
    grid-template-columns: 50% 1fr; 
  }

}